/node_modules
/public
/src/assets
/src/views
/src/App.vue
/src/main.js
/src/router.js

# devlopment
.browserslistrc
.editorconfig
.eslintrc.js
.gitignore
babel.config.js
postcss.config.js
vue.config.js
